@use "variables" as *;
@use "breakpoints" as *;
@use "functions" as *;

.main-heading > h1 {
  font-size: rem(40);
  font-weight: 800;
  color: $deep-blue;

  @include breakpoint(large) {
    font-size: rem(56);
  }
}

.courses .h2 {
  font-size: rem(24);
  font-weight: 800;
  line-height: 1.3;
  @include breakpoint(large) {
    font-size: rem(32);
  }
}

.courses h2 {
  color: $deep-blue;
  font-size: rem(20);
  font-weight: 800;
  line-height: 1.15;

  @include breakpoint(large) {
    font-size: rem(24);
  }
}

.course-link {
  display: inline-block;
  color: $bright-pink;
  font-weight: 700;
  font-size: rem(18);

  &:hover,
  &:focus {
    color: $light-pink;
  }
}

/* Buttons */
.btn {
  display: inline-block;
  font-weight: 700;
  line-height: 1.5;
  color: $white;
  padding: rem(9) rem(24) rem(11);
  border-radius: rem(28);

  @include breakpoint(large) {
    padding: rem(14) rem(32);
  }
}

.btn-header {
  background: $deep-blue;

  &:focus,
  &:hover {
    background: $purple;
  }
}

.btn-main {
  background: $orange-pink-gradient;
  padding: rem(15) rem(38);
  border-radius: rem(32);

  @include breakpoint(large) {
    padding: rem(19) rem(32) rem(16);
  }

  &:focus,
  &:hover {
    opacity: 0.5;
  }
}

.btn-footer {
  background: $blue-pink-gradient;

  &:focus,
  &:hover {
    opacity: 0.5;
  }
}
